<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>WebRTC Videochat</title>


<!-- Icons -->
<link rel="apple-touch-icon" href="/icons/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
<meta name="msapplication-TileColor" content="#b5efff">
<meta name="msapplication-TileImage" content="/ms-icon-310x310.png">
<meta name="theme-color" content="#b5efff">
