<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Ojani&apos;s time</title>

    <script>
      const Room = <%- room -%>;
    </script>

    <link rel="stylesheet" href="../room.css">
    <script defer src="/simplepeer.js"></script>
    <script defer src="../socket.io/socket.io.js"></script>
    <script defer src="../room.js"></script>

  </head>
  <body>

    <h1>Joining Link: <%= joinUrl %> </h1>

    <video class="localStream" muted playsinline></video>
    <video class="externalStream" controls playsinline></video>

  </body>
</html>
