<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Ojani&apos;s time</title>

    <script>
      const Room = <%- room -%>;
    </script>

    <link rel="stylesheet" href="../room.css">
    <script defer src="/simplepeer.js"></script>
    <script defer src="../socket.io/socket.io.js"></script>
    <script defer src="../room.js"></script>

  </head>
  <body>

    <div class="linkWrapper">
      <span class="joinLinkTxt">Joining Link</span>
      <span class="joiningLink"> <%= joinUrl %> </span>
      <span class="copyLinkBtn">Copy</span>
    </div>

    <video class="localStream" controls muted playsinline></video>
    <video class="externalStream" controls playsinline></video>

    <div class="chatWrapper">

      <div class="messagesWrapper">

      </div>

      <form class="textForm">
        <input type="text" class="textInput" placeholder="Send a message...">
        <div class="sendMsgBtn">Send</div>
      </form>

    </div>

  </body>
</html>
