* {
  box-sizing: border-box;

}

.linkWrapper {
  position: absolute;
  left: 50%;
  top: 2em;
  transform: translateX(-50%);
  border: .2rem solid black;
  width: 35em;
  height: 2.5em;
  font-size: 1.5em;
  display: flex;
  flex-wrap: nowrap;

}

.linkWrapper span {
  padding: .75rem 0;
  display: inline-block;
  flex-shrink: 0;

}

.joinLinkTxt {
  flex-grow: 1;
  font-weight: bold;
  background: white;
  text-align: center;
  border-right: .1rem solid black;

}

.joiningLink {
  overflow: scroll;
  white-space: nowrap;
  flex: 0 0 25em;
  background: #333;
  color: white;

}

.copyLinkBtn {
  border-left: .1rem solid black;
  flex-grow: 1;
  background: #1588FF;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color .3s;

}

.copyLinkBtn:hover {
  background: #0477EE;

}


body {
  background: #f5f5dc;
  font-family: arial;
  margin: 0px;

}

video {
  transform: scaleX(-1);

}

.localStream {
  height: 100%;
  transform: scaleX(-1);

}

.externalStream {
  position: absolute;
  display: none;
  height: 70vh;
  left: 0;
  top: 0;

}

.prevAndChatBox {
  background: white;
  position: absolute;
  display: flex;
  height: 28vh;
  bottom: 0;
  width: 100vw;
  align-items: stretch;

}

.chatWrapper {
  height: 100%;
  width: 100%;

}

.messagesWrapper {
  padding-bottom: 1.5em;
  height: 100%;
  overflow: scroll;
  word-wrap: break-word;
  width: 100%;

}

.textForm {
  font-size: 1.2em;
  position: fixed;
  width: 100%;
  bottom: 0;

}

.textInput {
  display: inline-block;
  font-size: 1em;
  width: 75%;
  border: 2px solid black;
  border-radius: 0;

}

.sendMsgBtn {
  width: 25%;
  background: #1588ff;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
  height: 1.4em;
  position: fixed;
  right: 0;
  transition: background-color .3s;

}

.sendMsgBtn:hover {
  background: #0477EE;

}

.message {
  margin-left: 1em;

}

.name {
  font-weight: bolder;
  color: #1588FF;
}

.name.local {
  color: #34eb52;

}

@media only screen and (max-width: 1052px) {
  .linkWrapper {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 710px) {
  .linkWrapper {
    width: 30em;
  }

  .joiningLink {
    flex: 0 0 20em;
  }

  .prevAndChatBox {
    flex-direction: column;
    height: 24vh;
    width: initial;
    transition: .3s;
  }

  .localStream {
    height: 100%;
    transition: .3s;
  }

  .chatWrapper {
    width: 100%;
  }

  .prevAndChatBox.focused {
    height: 48vh;
    width: 100vw;
  }

  .localStream.focused {
    height: 50%;
  }

}

@media only screen and (max-width: 610px) {
  .linkWrapper {
    width: 25em;
  }

  .joiningLink {
    flex: 0 0 15em;
  }

  .externalStream {
    height: initial;
    width: 100vw;
  }

}

@media only screen and (max-width: 505px) {
  .linkWrapper {
    width: 20em;
  }

  .joiningLink {
    flex: 0 0 10em;
  }

}

@media only screen and (max-width: 415px) {
  .linkWrapper {
    width: 15em;
  }

  .joiningLink {
    flex: 0 0 5em;
  }

}

@media only screen and (max-width: 320px) {
  .linkWrapper {
    width: 12em;
  }

  .joiningLink {
    flex: 0 0 2em;
  }

  .localStream {
    height: initial;
    width: 250px;
  }

}
